<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Grass Roots!</h1>
            <p>View some tips and guides on maintaining your mind healthy and join some local community gatherings.</p>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-lg colbtn" href="/event/new">Add a New Gathering</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-lg colbtn" href="http://4a580a2b.ngrok.io/#/welcome">Take Our Wellness Test</a>
                </div>
            </div>
        </div>
    </header>
    <div class="row text-center container" style="display:flex; flex-wrap: wrap">
        <% event.forEach(function(event){%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= event.image%>">
                    <div class="caption">
                        <h4><%= event.name %> </h4>
                    </div>
                    <p>
                        <a href="/event/<%=event._id%>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>