<% include partials/header %>

<div class="container">
    <div class="row">
    <h1 style="text-align: center;"> Create A New Profile</h1>
        <div style="width:30%; margin: 30px auto;">
             <form action="/profile" method="POST">
                 <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                 </div>
                 <div class="form-group">
                    <input class="form-control" type="text" name="location" placeholder="Your Location">
                 </div>
                 <div class="form-group">
                    <input class="form-control" type="text" name="age" placeholder="Your Age">
                 </div>
                 <div class="form-group">
                    <input class="form-control" type="text" name="bio" placeholder="Your Story">
                 </div>
                 <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                 </div>
            </form>
            <a href="/profile">Go Back</a>    
        </div>
    </div>
</div>
<% include partials/footer %>